.wrapper {
    box-sizing: border-box;
    margin: 10px;
    padding-top: 50px;
    height: 100%;
    width:100%;
    display: flex;
    flex-flow: row wrap;
    padding: 20px;
    justify-content: space-around;
    align-content: flex-start;
    overflow: auto;
    font-family: 'Open Sans', sans-serif;
    background: none;
  }